:root {
    --color-primary: red;
    --gap: 2px;
}
.primary {
    color: color-mod(var(--color-primary) a(0.5));
    margin-top: calc(var(--gap) * 2);

    &__footer {
        color: blue;
    }

    @media (min-width: 1024px) {
        color: coral;
    }

    &:hover &__footer {
        color: green;
        animation: someRandomAnimation 1s ease-in-out infinite alternate;
    }
}

@keyframes someRandomAnimation {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}
