@custom-media --small screen;
@custom-media --small-only screen and (max-width: 47.9375em);
@custom-media --medium screen and (min-width: 48em);
@custom-media --medium-only screen and (min-width: 48em) and (max-width: 63.9375em);
@custom-media --large screen and (min-width 64em);
@custom-media --large-only screen and (min-width: 64em) and (max-width: 89.9375em);
@custom-media --xlarge screen and (min-width 90em);
@custom-media --xlarge-only screen and (min-width: 90em) and (max-width: 119.9375em);
@custom-media --xxlarge screen and (min-width 120em);
@custom-media --xxlarge-only screen and (min-width: 120em) and (max-width: 99999999em);
@custom-media --mobile-s (min-width: 320px);
@custom-media --mobile-m (min-width: 375px);
@custom-media --mobile-l (min-width: 412px);
@custom-media --mobile (max-width: 599px);
@custom-media --tablet-s (min-width: 600px);
@custom-media --tablet-m (min-width: 768px);
@custom-media --tablet (min-width: 600px) and (max-width: 1023px);
@custom-media --desktop-s (min-width: 1024px);
@custom-media --desktop-m (min-width: 1280px);
@custom-media --desktop-l (min-width: 1440px);
@custom-media --desktop-xl (min-width: 1920px);
@custom-media --desktop (min-width: 1024px);
