.root {
    padding: 10px;
}
@media (--tablet) {
    .root {
        padding: var(--gap-xl);
    }
}

@media (--desktop) {
    .root {
        padding: var(--gap-2xl);
    }
}

@media (--mobile) {
    .root {
        padding: var(--gap-xs);
    }
}
