name: Build docker images

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - packages/alpine-node-nginx/**

jobs:
  build:
    strategy:
      matrix:
        versions: [
          { node: '16.20.2', alpine: '3.18', image: node, dockerfile: Dockerfile, tag: '16.20.2' },
          { node: '18.20.6', alpine: '3.20', image: node, dockerfile: Dockerfile, tag: '18.20.6' },
          { node: '20.18.2', alpine: '3.20', image: node, dockerfile: Dockerfile, tag: '20.18.2' },
          { node: '22.14.0', alpine: '3.20', image: node, dockerfile: Dockerfile, tag: '22.14.0' },

          { node: '16.20.2', alpine: '3.18', image: node, dockerfile: Dockerfile-slim, tag: '16.20.2-slim' },
          { node: '18.20.6', alpine: '3.20', image: node, dockerfile: Dockerfile-slim, tag: '18.20.6-slim' },
          { node: '20.18.2', alpine: '3.20', image: node, dockerfile: Dockerfile-slim, tag: '20.18.2-slim' },
          { node: '22.14.0', alpine: '3.20', image: node, dockerfile: Dockerfile-slim, tag: '22.14.0-slim' },
        ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build and push Docker images
        uses: docker/build-push-action@v1
        with:
          path: packages/alpine-node-nginx/
          dockerfile: packages/alpine-node-nginx/${{ matrix.versions.dockerfile }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
          repository: alfabankui/arui-scripts
          build_args: NODE_VERSION=${{ matrix.versions.node }},ALPINE_VERSION=${{ matrix.versions.alpine }},NODE_BASE_IMAGE=${{ matrix.versions.image }}
          tags: ${{ matrix.versions.tag }}
